.card-about__img_default {
  background-image: url('../img/card-default.png');
  background-repeat: no-repeat;
  cursor: pointer;
  height: 480px;
  width: 320px;
}

.card-about__img_active {
  background-image: url('../img/card-active.png');
  background-repeat: no-repeat;
  cursor: pointer;
  height: 480px;
  width: 320px;
}

.card-about__img_disabled {
  background-image: url('../img/card-disabled.png');
  background-repeat: no-repeat;
  cursor: pointer;
  height: 480px;
  width: 320px;
}

.card-about__img_disabled .card-about__information {
  opacity: 0.5;
  color: #b3b3b3;
}

.content__row {
  height: 510px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-about__heading {
  font-family: 'Trebuchet MS';
  font-size: 16px;
  font-weight: normal;
  color: #666666;
  padding: 21px 0 0 48px;
  margin: 0;
}

.card-about__title {
  font-family: 'Trebuchet MS';
  font-size: 48px;
  margin: 0;
  padding: 4px 0 0 45px;
}

.card-about__taste {
  font-family: 'Trebuchet MS';
  font-size: 24px;
  margin: 0;
  padding-left: 49px;
}

.card-about__text {
  font-family: 'Trebuchet MS';
  font-size: 14px;
  color: #666666;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-left: 47px;
  line-height: 0px;
}

.card-about__portion {
  display: inline-block;
  margin-top: 4px;
  padding: 0;
}

.card-about__gift {
  display: inline-block;
  margin-top: 0.5px;
  margin-bottom: 0;
  padding: 0;
}

.card-about__weight_default {
  font-family: 'Trebuchet MS';
  font-size: 42px;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  margin: 220px 16px 0 224px;
  width: 81px;
  height: 81px;
  margin-bottom: 0;
  background: #1698d9;
  border-radius: 50%;
}

.card-about__img_default:hover .card-about__weight_default {
  background: #2ea8e6;
}

.card-about__weight_active {
  font-family: 'Trebuchet MS';
  font-size: 42px;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  margin: 220px 16px 0 224px;
  width: 81px;
  height: 81px;
  margin-bottom: 0;
  background: #d91667;
  border-radius: 50%;
}

.card-about__img_active:hover .card-about__weight_active {
  background: #e62e7a;
}

.card-about__weight_disabled {
  font-family: 'Trebuchet MS';
  font-size: 42px;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  margin: 205px 16px 0 224px;
  width: 81px;
  height: 81px;
  margin-bottom: 0;
  background: #b3b3b3;
  border-radius: 50%;
}

.card-about__value {
  padding-top: 7px;
  margin: 0;
}

.card-about__measure {
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 8pt;
  padding: 0;
  margin: 0;
}

.card-comment {
  font-size: 13px;
  font-family: 'Trebuchet MS';
  color: #ffffff;
  text-align: center;
  margin: 26px auto 0 auto;
  position: relative;
}

.card-comment__buy-btn {
  display: inline-block;
  border-bottom: dashed;
  cursor: pointer;
  color: #1698d9;
  border-width: 1px;
}

.card-comment_disabled {
  font-size: 13px;
  font-family: 'Trebuchet MS';
  color: #ffff66;
  text-align: center;
  margin: 13px auto 0 auto;
  position: relative;
}

.headingHover {
  color: #e62e7a;
}
