@font-face {
  font-family: 'Exo2.0-Thin';
  src: url(./fonts/Exo2.0-Thin.otf);
  font-style: normal;
  font-weight: normal;
}

body {
  background-image: url('./img/background.png');
  background-size: cover;
  font-family: 'Trebuchet MS';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.content__body {
  top: calc(50% - 315px);
  height: 630px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.content__title {
  font-family: 'Exo2.0-Thin';
  margin-bottom: 36px;
  font-weight: normal;
  line-height: 1.2;
  font-size: 36px;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 1680px) {
  .content__column {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 959px) {
  .content__body {
    position: relative;
  }
  .content__column {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 320px) {
  .content__body {
    position: relative;
  }
  .content__column {
    padding-bottom: 50px;
  }
}

@media screen and (max-height: 635px) {
  .content__title {
    margin-bottom: 10px;
    font-size: 30px;
  }
}
